@tailwind base;

@layer base {
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  h1 {
    @apply text-2xl font-bold text-primary;
  }
  h2 {
    @apply text-xl font-semibold text-primary;
  }
  h3 {
    @apply text-lg text-primary;
  }
  a {
    @apply hover:underline;
  }

  .img-hero {
   background-image: url('/images/lake-and-mountain.jpg');
   background-size: cover;
  }
}

@tailwind components;
@tailwind utilities;
